<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<body>
  <div class="row justify-content-center mt-4">
      <div class="col-12">
        <div class="alert alert-info d-flex justify-content-center">
          <h3>Complaint Registration Form</h3>
        </div>
          <div class="card mb-4">
              <div class="card-body">
                <form method="post" novalidate enctype="multipart/form-data">
                  {% csrf_token %}

                  <h3>Personal Details</h3>
                  {{ form.o_name|as_crispy_field }}
                  <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                      {{ form.o_email|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                      {{ form.o_no|as_crispy_field }}
                    </div>
                  </div>

                  <div class="form-row mb-2">
                    <div class="form-group col-md-6 mb-0">
                      {{ form.o_state|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                      {{ form.o_city|as_crispy_field }}
                    </div>
                  </div>

                  {{ form.gender|as_crispy_field }}
                  <div class="mb-4">
                    {{ form.age|as_crispy_field }}
                  </div>

                  <h3>Complaint Details</h3>

                  {{ form.year|as_crispy_field }}
                  {{ form.get_div|as_crispy_field }}
                  {{ form.sure_div|as_crispy_field }}
                  {{ form.court_div|as_crispy_field }}
                  {{ form.children|as_crispy_field }}
                  {{ form.c_reln|as_crispy_field }}
                  {{ form.o_emp|as_crispy_field }}
                  {{ form.p_emp|as_crispy_field }}
                  {{ form.c_description|as_crispy_field }}
                  {{ form.c_document|as_crispy_field }}


                  <input type="submit" value="submit" class="btn btn-outline-primary btn-lg">
                </form>
              </div>
            </div>
          </div>
        </div>
</body>
{% endblock %}
















<!-- <!DOCTYPE html>
{% load crispy_forms_tags %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Consumer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	  </script>
  </head>
  <body>
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                  <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="submit" class="btn btn-outline-primary btn-lg">
                  </form>
                </div>
              </div>
            </div>
          </div>
  </body>
</html> -->
