<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<body>
  <div class="card mt-5 mb-3">
    <div class="card-body">
      <h3 class='mb-3'>Personal Details</h3>
      <hr>
      <div class="form-row">
          <div class="col-12 col-md-6">
            <p><strong>Name:  </strong>{{ harassmentcomplaint.o_name }}</p>
            <p><strong>Designation:  </strong>{{ harassmentcomplaint.o_desig }}</p>
            <p><strong>Email:  </strong>{{ harassmentcomplaint.o_email }}</p>
            <p><strong>Contact:  </strong>{{ harassmentcomplaint.o_no }}</p>
          </div>

          <div class="col-12 col-md-6">
            <p><strong>State:  </strong>{{ harassmentcomplaint.o_state }}</p>
            <p><strong>City:  </strong>{{ harassmentcomplaint.o_city }}</p>
          </div>
      </div>
    </div>
  </div>

 <div class="card">
   <div class="card-body">
     <h3 class='mb-3'>Organisation Details</h3>
     <hr>
      <div class="form-row">
          <div class="col-12 col-md-6">
            <p><strong>Company name:  </strong>{{ harassmentcomplaint.comp_name }}</p>
            <p><strong>Email:  </strong>{{ harassmentcomplaint.comp_email }}</p>
            <p><strong>Contact:  </strong>{{ harassmentcomplaint.comp_no }}</p>
            <p><strong>Company head:  </strong>{{ harassmentcomplaint.comp_head }}</p>
            <p><strong>State:  </strong>{{ harassmentcomplaint.comp_state }}</p>
            <p><strong>City:  </strong>{{ harassmentcomplaint.comp_city }}</p>
            <p><strong>Address:  </strong>{{ harassmentcomplaint.comp_adds }}</p>
          </div>

          <div class="col-12 col-md-6">
            <p><strong>Accused name:  </strong>{{ harassmentcomplaint.acc_name }}</p>
            <p><strong>Accused designation:  </strong>{{ harassmentcomplaint.acc_desig }}</p>
            <p><strong>Working relation with accused:  </strong>{{ harassmentcomplaint.relw_acc }}</p>
            <p><strong>Complaint filed at ICC:  </strong>{{ harassmentcomplaint.icc }}</p>
            <p><strong>Brief Description:  </strong>{{ harassmentcomplaint.c_description }}</p>
          </div>
      </div>
    </div>
   </div>

   {% if harassmentcomplaint.p_status == 1 %}
   <div class="card mt-3">
     <div class="card-body">
       <h3 class='mb-3'>Complaint Tracking</h3>
       <hr>
       <div class="col-12 col-md-6">
         <p><strong>Complaint Status:  </strong>{{ harassmentcomplaint.admin_reply }}</p>

         {% if harassmentcomplaint.admin_document %}
           <p><strong>Complaint related documents:  </strong><a href="{{ harassmentcomplaint.admin_document.url }}">Click here</a></p>
         {% endif %}
       </div>
     </div>
   </div>

   <div class="card mt-3">
     <div class="card-body">
       <h3 class='mb-3'>Payment Details</h3>
       <hr>
       <p><strong>Order ID:  </strong>{{ harassmentcomplaint.new_cid }}</p>
       <p><strong>Payment status:  </strong>Success</p>
       <p><strong>Transaction ID:  </strong>{{ harassmentcomplaint.txn_id }}</p>
       <p><strong>Payment Date:  </strong>{{ harassmentcomplaint.p_date }}</p>
       <p><strong>Amount:  </strong>{{ harassmentcomplaint.c_amt }}</p>
     </div>
   </div>
   {% endif %}

  <div class="d-flex justify-content-between mb-5">
    <a href="{% url 'harassment:update_h' object.hc_id %}" class="mt-2">
      <svg class="bi bi-pencil-square" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
      </svg>
    </a>

    {% if harassmentcomplaint.p_status == 0 %}
    <a class="btn btn-outline-primary mt-2" href="{% url 'harassment:payment' object.hc_id %}">Payment</a>
    {% endif %}

  </div>

</body>

{% endblock %}
